.TodoItem {
    display: inline-block;
    width: 100%;
    padding: 20px 20px 20px;
    position: relative;
    vertical-align: top;
    margin-bottom: 30px;
    font-family: 'Dosis', sans-serif;
    min-height: 15vh;
    background: #262a2b;
    border: 1px solid #252727;
    text-align: left;
    box-sizing: border-box;
}
.TodoItem h2 {
    font-size: 114px;
    margin: 0;
    position: absolute;
    opacity: 0.2;
    top: 10%;
    right: 10px;
    transition: all 0.3s ease-in-out;
}
.TodoItem h3 {
    font-size: 20px;
    color: #b7b7b7;
    margin: 0;
    margin-bottom: 5px;
}
.TodoItem p {
    font-size: 16px;
    line-height: 18px;
    color: #b7b7b7;
    margin-top: 5px;
}
.TodoItem span.high {
    color: #F44336;
}
.TodoItem span.regular {
    color: #00bcd4;
}
.TodoItem span.low {
    color: #8bc34a;
}
.TodoItem a {
    top: 15px;
    text-decoration: none;
    display: inline-block;
    font: 400 13.3333px Arial;
}
.TodoItem button, .TodoItem a {
    z-index: 10;
    background: transparent;
    border: 1px solid #b7b7b7;
    padding: 10px 20px;
    color: #b7b7b7;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: translateY(-40px);
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    margin-right: 10px;
}
.TodoItem button:before, .TodoItem a:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 120%;
    background: #b7b7b7;
    top: 0;
    opacity: 0;
    left: -140px;
    border-radius: 0 20px 20px 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;

}
.TodoItem:hover button, .TodoItem:hover a {
    transform: translateY(5px);
    opacity: 1;
}
.TodoItem button:hover, .TodoItem a:hover {
    color: #262a2b;
}
.TodoItem button:hover:before, .TodoItem a:hover:before {
    left: 0;
    opacity: 1;
}
.TodoItem:hover h2 {
    top: 0px;
    opacity: 0.6;
}

.TodoItem:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(2deg, 2deg);
}
.TodoItem:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.02);
}
.TodoItem.low:before {
    background: #4CAF50;
    background: -webkit-linear-gradient(to right, #4CAF50, #009688);
    background: linear-gradient(to right, #4CAF50, #009688);
}
.TodoItem.regular:before {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);
}
.TodoItem.high:before {
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}

.TodoItem .BackgroundCheck {
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    text-align: right;
    font-size: 3rem;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

i.fa.fa-check-square-o, i.fa.fa-square-o {
    position: relative;
    top: 5px;
}